---
searchable: false
---

@import "core/language_colors";
@import "core/variables";
@import "core/mixins";
@import "core/core";

@import "objects/buttons";
@import "objects/caption";
@import "objects/code";
@import "objects/typography";
@import "objects/forms";
@import "objects/search";
@import "objects/tables";
@import "objects/viewport";

// Body
body {
	color: $dark-text;
	font-size: 14px;
	line-height: 24px;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}


// Container
.container {
	padding: 0 2.5%;
	max-width: 1600px;
}


// Header & footer
.header, .footer {
	background: desaturate(darken($stone, 5%), 10%);
	color: $white;
	h1, h2, h3, h4, h5, h6 {
		color: $white;
	}
}

.header--main {
	padding: $spacing-half $spacing;
}

.header--main,
.footer--main {
	color: $light-text;
}

.logo {
	vertical-align: bottom;
}


// Main
.main--body {
	background: $light-background;
	float: left;
	width: 100%;
	padding-bottom: 20px;
	.row {
		display: flex;
	}
}

// Feature
.main--feature {
	background: darken($light-background, 3%);
	padding-bottom: 60px;
	.octicon {
		font-size: 24px;
	}
}
	// Feature header
	.header--feature {
		padding: 2% 0;
		margin-bottom: 20px;
		h2 {
			padding-bottom: 3%;
		}
		.search-label {
			line-height: 38px;
		}
		.search-form {
			font-size: 20px;
			line-height: 34px;
		}
	}

	// Feature cards
	.feature-card {
		width: 50%;
		float: left;
		position: relative;
		padding: 30px 30px 60px;
		min-height: 260px;
		border: 1px solid darken($light-background, 3%);
		background: $light-background;
		text-align: center;
		.button-container {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			min-height: 60px;
		}
		.octicon {
			font-size: 44px;
		}
	}


// Updates
.post-list {
	list-style: none;
	padding: 0;
}
	.post-item {
		margin-top: 0;
	}

	.time {
		font-style: italic;
		color: darken($light-border, 20%);
	}


// Aside
.aside {
	padding: 15px 10px;
	border-color: $light-border;
	border-style: solid;
	border-width: 0;
	h3 {
		margin-top: 0;
	}
	.octicon {
		min-width: 18px;
	}
}
	// In-page navigations
	.aside--docs,
	.aside--search {
		border-right-width: 1px;
	}
	.aside--versions,
	.aside--contents {
		border-left-width: 1px;
		li {
			list-style: square;
		}
	}
	.aside--versions,
	.aside--search {
		border-bottom-width: 1px;
	}

	.nav--main {
		padding-top: 3px;
	}

	// Navigation
	.nav--main,
	.nav--footer {
		text-align: right;
		color: $light-text;
		a {
			color: $light-links;
			margin-left: 10px;
			&:hover {
				color: darken($light-links, 15%);
			}
			&:active {
				color: darken($light-links, 20%);
			}
		}
	}
		// Mobile toggle
		.toggle-button {
			display: none;
			float: right;
			padding: 1px 5px;
			span, svg {
				vertical-align: middle;
			}
		}
		.nav-subtitle {
			font-weight: bold;
		}
		.nav-item--parent {
			margin-top: 10px;
		}
		.nav--docs {
			> .nav-list--parent {
				padding-left: 0;
			}
			.nav-item {
				list-style: none;
			}
		}

.nav-item > a {
	padding: 7px 0;
	&:hover {
		font-weight: bold;
	}
}


// Footer
.footer--main {
	clear: both;
}

// Icons
svg {
	width: 20px;
	height: 20px;
	fill: $dark-text;
}
	.search-form .octicon {
		position: absolute;
		z-index: 2;
		right: .2em;
		top: .25em;
		cursor: pointer;
		@include linearGradient(rgba($light-background, 0), $light-background);
	}




// Mobile and Small Tablet
@media (max-width: 767px) {

	// Header & footer
	.nav--main,
	.nav--footer,
	.logo,
	.copyright {
		margin-left: 0;
		margin-right: 0;
	}

	.nav--main .button {
		display: none;
	}

	.span--half {
		width: 50%;
	}

	.span--quarter {
		width: 25%;
	}

	.span--three-quarters,
	.aside--search .search-form {
		width: 75%;
	}

	.search-form {
		display: inline-block;
	}

	// Main content
	.main--body .row {
		display: inherit;
	}

	.row {
		margin: 0;
	}

	.main--content {
		button, .button {
			display: inline-block;
			line-height: initial;
		}
	}

	.feature-card {
		width: 100%;
		min-height: inherit;
	}

	// Navigation toggle
	.toggle-button {
		display: inline-block;
	}

	.nav[data-state=closed] {
		display: none;
	}

	.nav[data-state=open] {
		display: inherit;
		padding-bottom: 15px;
		border-bottom: 1px solid $light-border;
	}

	// Aside
	.aside {
		padding: 15px 0;
		border-left: none;
		border-right: none;
	}

	.aside--docs {
		padding: 0;
	}

	// Footer
	.nav--footer {
		text-align: right;
	}
}
	// Mobile specific
	@media only screen and (max-device-width: 768px) {

		.search-form {
			font-size: 16px;
		}

		.search-label {
			line-height: 24px;
		}

		.header--feature .search-label {
			line-height: 34px;
		}

	}

.main--content img {
  border: 1px solid $light-border;
}
.image--center {
  text-align: center;
  background: lighten($light-border, 10%);
  line-height: 0;
  padding: 10px;
}
