$color-mercury: #FF2B2B;
$color-typescript: #2B7489;
$color-purebasic: #5A6986;
$color-objective-c: #6866FB;
$color-self: #0579AA;
$color-edn: #DB5855;
$color-newlisp: #87AED7;
$color-rebol: #358A5B;
$color-frege: #00CAFE;
$color-dart: #00B4AB;
$color-aspectj: #A957B0;
$color-shell: #89E051;
$color-web-ontology-language: #9CC9DD;
$color-xbase: #403A40;
$color-eiffel: #946D57;
$color-nix: #7E7EFF;
$color-raml: #77D9FB;
$color-mtml: #B7E1F4;
$color-elixir: #6E4A7E;
$color-sas: #B34936;
$color-agda: #315665;
$color-wisp: #7582D1;
$color-d: #FCD46D;
$color-kotlin: #EA4DFA;
$color-opal: #F7EDE0;
$color-crystal: #776791;
$color-objective-c: #438EFF;
$color-coldfusion-cfc: #ED2CD6;
$color-oz: #FAB738;
$color-mirah: #C7A938;
$color-objective-j: #FF0C5A;
$color-handlebars: #01A9D6;
$color-gosu: #82937F;
$color-ruby: #701516;
$color-component-pascal: #B0CE4E;
$color-arc: #AA2AFE;
$color-brainfuck: #2F2530;
$color-nit: #009917;
$color-apl: #5A8164;
$color-go: #375EAB;
$color-visual-basic: #945DB7;
$color-php: #4F5D95;
$color-cirru: #CCCCFF;
$color-sqf: #3F3F3F;
$color-glyph: #E4CC98;
$color-java: #B07219;
$color-scala: #7DD3B0;
$color-makefile: #427819;
$color-coldfusion: #ED2CD6;
$color-perl: #0298C3;
$color-lua: #000080;
$color-verilog: #B2B7F8;
$color-factor: #636746;
$color-haxe: #F7941E;
$color-pure-data: #91DE79;
$color-forth: #341708;
$color-red: #EE0000;
$color-hy: #7790B2;
$color-volt: #1F1F1F;
$color-lsl: #3D9970;
$color-ec: #913960;
$color-coffeescript: #244776;
$color-html: #E44B23;
$color-api-blueprint: #2ACCA8;
$color-swift: #FFAC45;
$color-c: #555555;
$color-autohotkey: #6594B9;
$color-isabelle: #FEFE00;
$color-clarion: #DB901E;
$color-boo: #D4BEC1;
$color-autoit: #1C3552;
$color-clojure: #DB5855;
$color-rust: #DEA584;
$color-prolog: #74283C;
$color-sourcepawn: #5C7611;
$color-ampl: #E6EFBB;
$color-fortran: #4D41B1;
$color-antlr: #9DC3FF;
$color-harbour: #0E60E3;
$color-tcl: #E4CC98;
$color-blitzmax: #CD6400;
$color-piglatin: #FCD7DE;
$color-lasso: #999999;
$color-ecl: #8A1267;
$color-vhdl: #ADB2CB;
$color-elm: #60B5CC;
$color-propeller-spin: #7FA2A7;
$color-idl: #A3522F;
$color-ats: #1AC620;
$color-ada: #02F88C;
$color-nu: #C9DF40;
$color-lfe: #004200;
$color-supercollider: #46390B;
$color-oxygene: #CDD0E3;
$color-asp: #6A40FD;
$color-assembly: #6E4C13;
$color-gnuplot: #F0A9F0;
$color-jflex: #DBCA00;
$color-netlinx: #0AA0FF;
$color-c: #178600;
$color-turing: #45F715;
$color-vala: #FBE5CD;
$color-processing: #0096D8;
$color-arduino: #BD79D1;
$color-flux: #88CCFF;
$color-netlogo: #FF6375;
$color-css: #563D7C;
$color-emacs-lisp: #C065DB;
$color-saltstack: #646464;
$color-qml: #44A51C;
$color-pike: #005390;
$color-lolcode: #CC9900;
$color-ooc: #B0B77E;
$color-xc: #99DA07;
$color-j: #9EEDFF;
$color-mask: #F97732;
$color-emberscript: #FFF4F3;
$color-tex: #3D6117;
$color-nemerle: #3D3C6E;
$color-krl: #28431F;
$color-unified-parallel-c: #4E3617;
$color-golo: #88562A;
$color-fancy: #7B9DB4;
$color-ocaml: #3BE133;
$color-shen: #120F14;
$color-pascal: #B0CE4E;
$color-f: #B845FC;
$color-puppet: #332A77;
$color-actionscript: #882B0F;
$color-diff: #88DDDD;
$color-ragel-in-ruby-host: #E17600;
$color-fantom: #DBDED5;
$color-zephir: #118F9E;
$color-smalltalk: #596706;
$color-dm: #447265;
$color-ioke: #078193;
$color-pogoscript: #D80074;
$color-livescript: #499886;
$color-javascript: #F1E05A;
$color-viml: #199F4B;
$color-purescript: #1D222D;
$color-abap: #E8274B;
$color-matlab: #BB92AC;
$color-slash: #007EFF;
$color-r: #198CE7;
$color-erlang: #B83998;
$color-pan: #CC0000;
$color-lookml: #652B81;
$color-eagle: #814C05;
$color-scheme: #1E4AEC;
$color-squirrel: #800000;
$color-python: #3572A5;
$color-max: #C4A79C;
$color-common-lisp: #3FB68B;
$color-latte: #A8FF97;
$color-xquery: #5232E7;
$color-omgrofl: #CABBFF;
$color-nimrod: #37775B;
$color-systemverilog: #DAE1C2;
$color-chapel: #8DC63F;
$color-groovy: #E69F56;
$color-dylan: #6C616E;
$color-e: #CCCE35;
$color-parrot: #F3CA0A;
$color-grammatical-framework: #79AA7A;
$color-game-maker-language: #8FB200;
$color-papyrus: #6600CC;
$color-c: #F34B7D;
$color-netlinx-erb: #747FAA;
$color-clean: #3F85AF;
$color-alloy: #CC5C24;
$color-pawn: #DBB284;
$color-unrealscript: #A54C4D;
$color-standard-ml: #DC566D;
$color-slim: #FF8F77;
$color-perl6: #0000FB;
$color-julia: #A270BA;
$color-haskell: #29B544;
$color-io: #A9188D;
$color-rouge: #CC0088;
$color-racket: #22228F;
$color-ags-script: #B9D9FF;
$color-dogescript: #CCA760;
$color-nesc: #94B0C7;
$color-json: #333;
$color-yaml: #333;
$color-liquid: #4aa3df;
$color-scss: $color-css;
