$global-radius: 3px;

$dark-background: #222;
$dark-text: #555;
$dark-links: #4183c4;

$light-background: #fff;
$light-links: #fff;
$light-text: #aaa;
$light-border: #f1f1f1;
$highlighted-text: #fff9da;

$json-colour: #F9E6D2;
$less-colour: #CAD5E8;
$html-colour: #FFD080;
$twig-colour: #DFEA95;

$spacing: 25px;
$spacing-half: $spacing / 2;

$turquoise: #1abc9c;
$turquoise-dark: #16a085;
 
$green: #27ae60;
$green-light: #2ecc71;
 
$blue-light: #3498db;
$blue: #2980b9;
 
$purple: #452E82;
$purple-dark: #352C54;
 
$stone: #30374F;
 
$yellow: #f1c40f;
$yellow-dark: #f39c12;
 
$orange: #e67e22;
$orange-muted: #d35400;
 
$red: #CD4746;
 
$white: #fff;
$gray-lighter: #faf8fb;
$gray-light: #f1f0f2;
$gray: #c5c1c7;
$gray-dark: #a29da6;
$gray-darker: #89858c;
$black: #333; // <- its all lies! Muhaahaha!
