<h3>Site Index</h3>

<button class="toggle-button"><i class="fa fa-bars fa-lg"></i><span>Menu</span></button>

<nav class="nav  nav--docs" data-state="closed">

	<ul class="nav-list">

		{% for item in site.data.navigation.navdocs %}

		<li class="nav-item  nav-item--parent">

			<a href="{{ item.url }}" {% if page.url == item.url %}class="current"{% endif %}>{{ item.title }}</a>

		</li>

			{% if item.subnav %}

				<ul class="nav-list  nav-list--child">

				{% for subitem in item.subnav %}

					<li class="nav-item  nav-item--child">

						<a href="{{ subitem.url }}" {% if page.url == subitem.url %}class="current"{% endif %}>{{ subitem.title }}</a>

					</li>

				{% endfor %}

				</ul>

			{% endif %}

		{% endfor %}

	</ul>

</nav>
