<form class="search-form">

	<fieldset>

		<div class="search-field">

			<label class="search-label" for="search-field">Search documentation...</label>

			<svg class="icon icon--search">
				<switch>
					<use xlink:href="#icon-spyglass"></use>
					<foreignObject width="20" height="20">
						<img src="/assets/icons/spyglass.png" alt="spyglass">
					</foreignObject>
				</switch>
			</svg>

			<input type="text" id="search-field" class="search-input" autocomplete="off" />

		</div>

		<ul id="search-results" class="nav-list nav-list--search-results">

		</ul>

	</fieldset>

</form>

<button class="toggle-button" data-state="closed">

	<span>Menu</span>

	<svg class="icon icon--menu">
		<switch>
			<use xlink:href="#icon-menu"></use>
			<foreignObject width="20" height="20">
				<img src="/assets/icons/menu.png" alt="menu">
			</foreignObject>
		</switch>
	</svg>

</button>
