table {
  width: 100%;
  border-radius: $global-radius;
  text-align: left;
  margin-bottom: $spacing;
}

thead {
  font-weight: bold;
}

th, td {
  border-right: 1px solid $light-border;
  padding: $spacing-half $spacing;
}

thead {
  background: darken($light-background, 8%);
}

td, th {
  vertical-align: top;
  border: 1px solid darken($light-background, 8%);
}
