.viewport {
  background: $white;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  margin-left: -20px;
  margin-right: -20px;

  @media (min-width: 750px) {
    position: absolute;
    margin-left: 0px;
    margin-right: 0px;
    top: 42px; right: 0; bottom: 0; left:0;
    flex-direction: row;
  }

  > div {
    padding: $spacing;
    overflow: scroll;
  }
}

.viewport--left { flex: 2; }
.viewport--center { flex: 4; }
.viewport--right { flex: 1; }

.viewport--left {
  @media (min-width: 750px) {
    max-width: 320px;
  }
}

.viewport--right {
  display: none;
  min-width: 250px;
  @media (min-width: 1000px) {
    display: block;
  }
}

.viewport--dark {
  background: $stone;
  color: $white;
  a { color: $white;}
}

.viewport--tint {
  background: $gray-light;
}
