// Bower imports
@import "normalize";
@import "font-awesome";
@import "grid";

// Variables
$dark-header: #222;
$light-border: #f4f4f4;
$dark-text: #555;
$light-links: #fff;
$light-text: #aaa;
$dark-links: #777;

// Body
body {
	color: $dark-text;
	font-size: 14px;
	line-height: 24px;
}

// Header
.header--main,
.footer--main {
	background: $dark-header;
	color: $light-text;
	a {
		color: $light-links;
	}
}

// Main


// Aside
.aside {
	padding: 15px 10px;
	h3 {
		margin-top: 0;
	}
}

.aside--docs {
	border-right: 1px solid $light-border;
}

.aside--contents {
	border-left: 1px solid $light-border;
	border-bottom: 1px solid $light-border;
}

// Navigation
.nav--main {
	text-align: right;
}

.toggle-button {
	display: none;
}

.nav--docs {
	.nav-list {
		padding: 0;
		margin: 0;
		list-style: none;
	}
	.nav-list--child {
		padding-left: 20px;
	}
}

// Footer
.footer--main {
	clear: both;
}

.nav--footer {
	display: inline;
}

// Links
a {
	color: $dark-links;
	&.current {
		color: darken($dark-links, 20%);
	}
}

// Mobile
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

	// Navigation toggle
	.toggle-button {
		display: inherit;
	}

	.nav[data-state=closed] {
		display: none;
	}
	.nav[data-state=open] {
		display: inherit;
	}

}