// Bower imports
@import "normalize";
@import "font-awesome";
@import "grid";
@import "autumn";

// Variables
$dark-background: #222;
$light-border: #ddd;
$dark-text: #555;
$light-links: #fff;
$light-text: #aaa;
$dark-links: #777;
$light-background: #fff;

// Body
body {
	color: $dark-text;
	font-size: 14px;
	line-height: 24px;
	background: $dark-background;
}

// Header
.header--main,
.footer--main {
	color: $light-text;
	a {
		color: $light-links;
		border-bottom: 1px solid darken($light-links, 50%);
		margin: 0 10px;
		&:hover {
			border-bottom: 1px solid darken($light-links, 30%);
		}
	}
}

// Main
.main--body {
	background: $light-background;
	float: left;
	width: 100%;
	.row {
		display: flex;
	}
}

.main--content {
	padding: 15px 0 20px;
	h1 {
		margin-top: 0;
	}
}

	// Pygments
	.highlight {
		position: relative;
		background: darken($light-background, 3%);
		padding: 20px 15px 1px;
	}

	code[data-lang]:before {
		content: attr(data-lang);
		text-transform: uppercase;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		padding: 0 5px;
		background: darken($light-background, 8%);;
	}
	code[data-lang=ruby]:before {
		content: "twig";
	}
	code[data-lang=sass]:before,
	code[data-lang=css]:before {
		content: "less";
	}

	// Inline code
	code {
		background: darken($light-background, 3%);
		padding: 3px 7px;
	}
	pre code {
		padding: 0;
	}

	// Text alignment
	.text-align--center {
		text-align: center;
	}
	.text-align--right {
		text-align: right;
	}

	// Images
	.main--content img {
		border: 1px solid $light-border;
	}

	hr {
		height: 1px;
		background: $light-border;
		border: none;
	}

	// Tables
	table {
		font-size: 10.5px;
		text-align: left;
		letter-spacing: -.2px;
		width: 100%;
	}


// Aside
.aside {
	padding: 15px 10px;
	h3 {
		margin-top: 0;
	}
}

	.aside--contents,
	.aside--verions {
		border-left: 1px solid $light-border;
		border-bottom: 1px solid $light-border;
	}
	.aside--search,
	.aside--docs {
		border-right: 1px solid $light-border;
		border-bottom: 1px solid $light-border;
	}

	// Navigation
	.nav--main {
		text-align: right;
	}

	.toggle-button {
		display: none;
		span {
			display: inline-block;
			width: 0;
			text-indent: 100px;
		}
	}

	.nav-list {
		padding: 0;
		margin: 0;
		list-style: none;
	}
	.nav-list--child {
		padding-left: 20px;
	}

	.subtitle-item, .nav-item--parent {
		margin-top: 10px;
		display: inline-block;
		font-weight: bold;
	}



// Footer
.footer--main {
	clear: both;
}

.nav--footer {
	display: inline;
}

// Links
a {
	color: $dark-links;
	text-decoration: none;
	border-bottom: 2px solid lighten($dark-links, 40%);
	padding-bottom: 1px;
	&:hover {
		border-color: lighten($dark-links, 20%);
	}
	&.current,
	&:active {
		color: darken($dark-links, 20%);
	}
}

// Forms
fieldset {
	border: none;
	padding: 0;
	margin: 0;
}

	// Search Form
	.search-input {
		border: 1px solid lighten($dark-links, 40%);
		width: 100%;
		padding: 4px 9px;
	}
	.search-field {
		padding-bottom: 10px;
	}



// Headings
h3, legend {
	font-weight: bold;
	font-size: 16px;
}

// Mobile
@media (min-width: 320px) and (max-width: 767px) {

	.main--body .row {
		display: inherit;
	}

	// Navigation toggle
	.toggle-button {
		display: inherit;
	}

	.nav[data-state=closed] {
		display: none;
	}
	.nav[data-state=open] {
		display: inherit;
	}

}