// Bower imports
@import "normalize";
@import "grid";
@import "autumn";
@import "mixins";


// Colour Variables
$dark-background: #222;
$dark-text: #555;
$dark-links: #4183c4;

$light-background: #fff;
$light-links: #fff;
$light-text: #aaa;
$light-border: #ddd;


// Body
body {
	color: $dark-text;
	font-size: 14px;
	line-height: 24px;
	background: $dark-background;
	-webkit-font-smoothing: antialiased;
}

// Header & footer
.header--main,
.footer--main {
	color: $light-text;
}
	// BK logo
	.logo {
		margin: 16px 10px 0;
		display: inline-block;
	}

// Main
.main--body {
	background: $light-background;
	float: left;
	width: 100%;
	.row {
		display: flex;
	}
}
	// In-page content
	.main--content {
		padding: 15px 0 20px;
		h1 {
			margin-top: 0;
		}
		p {
			margin-top: 0.3em;
		}
	}

	// Type
	h2, h3, h4, h5, h6 {
		margin-bottom: 0.3em;
	}

	p {
		line-height: 26px;
	}

	// Pygments
	.highlight {
		position: relative;
		background: darken($light-background, 3%);
		padding: 20px 15px 1px;
	}
	code[data-lang]:before {
		content: attr(data-lang);
		text-transform: uppercase;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		padding: 0 5px;
		background: darken($light-background, 8%);;
	}
	code[data-lang=django]:before {
		content: "twig";
	}
	code[data-lang=sass]:before,
	code[data-lang=css]:before {
		content: "less";
	}

	// Inline code
	code {
		background: darken($light-background, 3%);
		padding: 3px 7px;
	}
	pre code {
		padding: 0;
	}

	// Text alignment
	.text-align--center {
		text-align: center;
	}
	.text-align--right {
		text-align: right;
	}

	// Images
	.main--content img {
		border: 1px solid $light-border;
	}

	// Keylines
	hr {
		height: 1px;
		background: $light-border;
		border: none;
	}

	// Tables
	table {
		font-size: 10.5px;
		text-align: left;
		letter-spacing: -.2px;
		width: 100%;
	}


// Aside
.aside {
	padding: 15px 10px;
	border-color: $light-border;
	border-style: solid;
	border-width: 0;
	h3 {
		margin-top: 0;
	}
}
	// In-page navigations
	.aside--docs,
	.aside--search {
		border-right-width: 1px;
	}
	.aside--verions,
	.aside--contents {
		border-left-width: 1px;
	}
	.aside--verions,
	.aside--search {
		border-bottom-width: 1px;
	}

	// Navigation
	.nav--main,
	.nav--footer {
		text-align: right;
		color: $light-text;
		margin: 0 10px;
		a {
			color: $light-links;
			margin-left: 10px;
			&:hover {
				color: darken($light-links, 15%);
			}
			&:active {
				color: darken($light-links, 20%);
			}
		}
	}
		// Mobile toggle
		.toggle-button {
			display: none;
			float: right;
			padding: 1px 5px;
			span, svg {
				vertical-align: middle;
			}
		}

		// Navigation items
		.nav-list {
			padding: 0;
			margin: 0;
			list-style: none;
		}
		.nav-list--child {
			padding-left: 20px;
		}
		.nav-subtitle {
			font-weight: bold;
		}
		.nav-item--parent {
			margin-top: 10px;
		}

// Footer
.footer--main {
	clear: both;
}

.copyright {
	margin: 0 10px;
}

// Links
a {
	color: $dark-links;
	text-decoration: none;
	padding-bottom: 1px;
	&:hover {
		color: darken($dark-links, 10%);
	}
	&:active,
	&.current {
		color: darken($dark-links, 15%);
	}
	&.current {
		border-bottom: 1px solid $dark-links;
	}
}
	// Buttons
	.button,
	button {
		background: $dark-links;
		border: none;
		padding: 6px 11px 7px;
		border-radius: 3px;
		color: $light-links;
		outline: none;
		&:hover {
			color: $light-links;
			background: darken($dark-links, 10%);
		}
		&:active {
			color: $light-links;
			background: darken($dark-links, 15%);
		}
	}

// Icons
.icon {
	width: 20px;
	height: 20px;
}
	.icon--search {
		position: absolute;
		z-index: 2;
		right: 3px;
		top: 3px;
		@include linearGradient(rgba($light-background, 0), $light-background);
		&:before {
			content: "";
		}
	}

	#icon-spyglass {
		fill: $light-text;
	}

	#icon-menu {
		fill: $light-links;
	}

// Forms
fieldset {
	border: none;
	padding: 0;
	margin: 0;
}
	// Search Form
	input[type=text] {
		border: 1px solid darken($light-border, 20%);
		box-shadow: none;
		border-radius: 0;
		width: 100%;
		padding: 4px 9px;
		&:focus {
			border-color: $dark-links;
			outline: none;
			background: $light-background;
		}
	}
	.search-label {
		position: absolute;
		padding: 1px 9px;
		z-index: 0;
		color: $light-text;
	}
	.search-field {
		position: relative;
		overflow: hidden;
		z-index: 1;
		background: $light-background;
	}
	.search-input {
		position: relative;
		z-index: 1;
		background: none;
	}

// Headings
h3, legend {
	font-weight: bold;
	font-size: 16px;
}

// Mobile
@media (min-width: 320px) and (max-width: 767px) {

	// Header & footer
	.nav--main,
	.nav--footer,
	.logo,
	.copyright {
		margin-left: 0;
		margin-right: 0;
	}

	.span--half {
		width: 50%;
	}

	.span--quarter {
		width: 25%;
	}

	.span--three-quarters,
	.search-form {
		width: 75%;
	}

	.search-form {
		display: inline-block;
	}

	// Main content
	.main--body .row {
		display: inherit;
	}

	.row {
		margin: 0 2.5%;
	}

	.main--content {
		button, .button {
			display: inline-block;
			line-height: initial;
		}
	}

	// Navigation toggle
	.toggle-button {
		display: inline-block;
	}

	.nav[data-state=closed] {
		display: none;
	}

	.nav[data-state=open] {
		display: inherit;
		padding-bottom: 15px;
		border-bottom: 1px solid $light-border;
	}

	// Aside
	.aside {
		padding: 15px 0;
		border-left: none;
		border-right: none;
	}

	.aside--docs {
		padding: 0;
	}

	// Footer
	.nav--footer {
		text-align: right;
	}
}