// Bower imports
@import "normalize";
@import "grid";
@import "autumn";
@import "sprockets-octicons";
@import "mixins";


// Colour Variables
$dark-background: #222;
$dark-text: #555;
$dark-links: #4183c4;

$light-background: #fff;
$light-links: #fff;
$light-text: #aaa;
$light-border: #ddd;
$highlighted-text: #fff9da;

$json-colour: #F9E6D2;
$less-colour: #CAD5E8;
$html-colour: #FFD080;
$twig-colour: #DFEA95;

// Body
body {
	color: $dark-text;
	font-size: 14px;
	line-height: 24px;
	background: $dark-background;
	-webkit-font-smoothing: antialiased;
}

// Header & footer
.header--main,
.footer--main {
	color: $light-text;
}
	// BK logo
	.logo {
		margin: 16px 10px 0;
		display: inline-block;
	}

// Main
.main--body {
	background: $light-background;
	float: left;
	width: 100%;
	padding-bottom: 20px;
	.row {
		display: flex;
	}
}
	// In-page content
	.main--content {
		padding: 15px 0 20px;
		h1 {
			margin-top: 0;
		}
		p {
			margin-top: 0.3em;
		}
	}

	// Type
	h2, h3, h4, h5, h6 {
		margin-bottom: 0.3em;
		position: relative;
		clear: both;
	}

	h3, legend {
		font-weight: bold;
		font-size: 16px;
	}

	p {
		line-height: 26px;
	}

	hr {
		clear: both;
	}

	ul, ol {
		padding-left: 18px;
	}

	ul {
		list-style: square;
		ul {
			list-style: disc;
			ul {
				list-style: circle;
			}
		}
	}

	// Pygments
	.highlight {
		position: relative;
		background: darken($light-background, 3%);
		padding: 20px 15px 1px;
	}
	code[data-lang]:before {
		content: attr(data-lang);
		text-transform: uppercase;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		padding: 0 5px;
		background: darken($light-background, 8%);;
	}
	code[data-lang=json]:before {
		background: $json-colour;
	}
	code[data-lang=html]:before {
		background: $html-colour;
	}
	code[data-lang=django]:before {
		content: "twig";
		background: $twig-colour;
	}
	code[data-lang=sass]:before,
	code[data-lang=css]:before {
		content: "less";
		background: $less-colour;
	}

	// Inline code
	code {
		background: darken($light-background, 3%);
		padding: 3px 7px;
	}
	pre code {
		padding: 0;
	}

	// Text alignment
	.text-align--center {
		text-align: center;
	}
	.text-align--right {
		text-align: right;
	}

	// Images
	.main--content img {
		border: 1px solid $light-border;
	}
	.image--center {
		text-align: center;
		background: lighten($light-border, 10%);
		line-height: 0;
		padding: 10px;
	}

	// Keylines
	hr {
		height: 1px;
		background: $light-border;
		border: none;
	}

	// Tables
	table {
		font-size: 10.5px;
		text-align: left;
		letter-spacing: -.2px;
		width: 100%;
	}
	th, td {
		border-right: 1px solid $light-border;
		padding: 0 4px;
	}

	th {
		background: darken($light-background, 8%);
	}
	td, th {
		border: 1px solid darken($light-background, 8%);
		padding: 1px 3px;
	}


// Feature
.main--feature {
	background: darken($light-background, 3%);
	padding-bottom: 60px;
	.octicon {
		font-size: 24px;
	}
}
	// Feature header
	.header--feature {
		padding: 2% 0;
		margin-bottom: 20px;
		h2 {
			padding-bottom: 3%;
		}
		.search-label {
			line-height: 38px;
		}
		.search-form .octicon {
			top: 5px;
			right: 6px;
		}
		.search-form {
			font-size: 24px;
			line-height: 34px;
		}
	}

	// Feature cards
	.feature-card {
		width: 50%;
		float: left;
		position: relative;
		padding: 30px 30px 60px;
		min-height: 260px;
		border: 1px solid darken($light-background, 3%);
		background: $light-background;
		text-align: center;
		.button-container {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			min-height: 60px;
		}
		.octicon {
			font-size: 44px;
		}
	}

// Updates
.post-list {
	list-style: none;
	padding: 0;
}
	.post-item {
		margin-top: 0;
	}

	.time {
		font-style: italic;
		color: darken($light-border, 20%);
	}

// Aside
.aside {
	padding: 15px 10px;
	border-color: $light-border;
	border-style: solid;
	border-width: 0;
	h3 {
		margin-top: 0;
	}
	.octicon {
		min-width: 18px;
	}
}
	// In-page navigations
	.aside--docs,
	.aside--search {
		border-right-width: 1px;
	}
	.aside--versions,
	.aside--contents {
		border-left-width: 1px;
		li {
			list-style: square;
		}
	}
	.aside--versions,
	.aside--search {
		border-bottom-width: 1px;
	}

	// Navigation
	.nav--main,
	.nav--footer {
		text-align: right;
		color: $light-text;
		margin: 0 10px;
		a {
			color: $light-links;
			margin-left: 10px;
			&:hover {
				color: darken($light-links, 15%);
			}
			&:active {
				color: darken($light-links, 20%);
			}
		}
	}
		// Mobile toggle
		.toggle-button {
			display: none;
			float: right;
			padding: 1px 5px;
			span, svg {
				vertical-align: middle;
			}
		}

		// Navigation items
		.nav-list {
			margin: 0;
		}
		.nav-subtitle {
			font-weight: bold;
		}
		.nav-item--parent {
			margin-top: 10px;
		}
		.nav--docs {
			> .nav-list--parent {
				padding-left: 0;
			}
			.nav-item {
				list-style: none;
			}
		}

// Footer
.footer--main {
	clear: both;
}

.copyright {
	margin: 0 10px;
}

// Links
a {
	color: $dark-links;
	text-decoration: none;
	padding-bottom: 1px;
	&:hover {
		color: darken($dark-links, 10%);
	}
	&.current {
		color: darken($dark-links, 15%);
		border-bottom: 1px solid darken($dark-links, 10%);
	}
}
	// Buttons
	.button,
	button {
		background: $dark-links;
		border: none;
		padding: 7px 11px 7px;
		border-radius: 3px;
		color: $light-links;
		outline: none;
		&:hover {
			color: $light-links;
			background: darken($dark-links, 10%);
		}
		&:active {
			color: $light-links;
			background: darken($dark-links, 15%);
		}
	}

// Icons
svg {
	width: 20px;
	height: 20px;
	fill: $dark-text;
}
	.search-form .octicon {
		position: absolute;
		z-index: 2;
		right: 1px;
		top: 4px;
		cursor: pointer;
		@include linearGradient(rgba($light-background, 0), $light-background);
	}

// Forms
fieldset {
	border: none;
	padding: 0;
	margin: 0;
}
	// Search Form
	input[type=text] {
		border: none;
		box-shadow: none;
		border-radius: 0;
		width: 100%;
	}
	input:valid,
	input:focus {
		outline: none;
		background: $light-background;
	}
	.search-label {
		position: absolute;
		z-index: 0;
		color: $light-text;
		line-height: 26px;
	}
	.search-input {
		position: relative;
		z-index: 1;
		background: none;
	}
	.search-field,
	.nav-list--search-results {
		padding: 0 5px;
	}
	.search-form {
		width: 100%;
		border: 1px solid darken($light-border, 20%);
		background: $light-background;
		position: relative;
		overflow: hidden;
		z-index: 1;
	}
	.nav-list--search-results {
		transition: .2s;
	}
	.nav-list--search-results[data-state=highlighted] {
		background: $highlighted-text;
	}

// Mobile
@media (min-width: 320px) and (max-width: 767px) {

	// Header & footer
	.nav--main,
	.nav--footer,
	.logo,
	.copyright {
		margin-left: 0;
		margin-right: 0;
	}

	.nav--main .button {
		display: none;
	}

	.span--half {
		width: 50%;
	}

	.span--quarter {
		width: 25%;
	}

	.span--three-quarters,
	.aside--search .search-form {
		width: 75%;
	}

	.search-form {
		display: inline-block;
	}

	// Main content
	.main--body .row {
		display: inherit;
	}

	.row {
		margin: 0 2.5%;
	}

	.main--content {
		button, .button {
			display: inline-block;
			line-height: initial;
		}
	}

	.feature-card {
		width: 100%;
		min-height: inherit;
	}

	// Navigation toggle
	.toggle-button {
		display: inline-block;
	}

	.nav[data-state=closed] {
		display: none;
	}

	.nav[data-state=open] {
		display: inherit;
		padding-bottom: 15px;
		border-bottom: 1px solid $light-border;
	}

	// Aside
	.aside {
		padding: 15px 0;
		border-left: none;
		border-right: none;
	}

	.aside--docs {
		padding: 0;
	}

	// Footer
	.nav--footer {
		text-align: right;
	}
}